<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h1><%= @food_item.name %></h1>
      <p>
        <%= image_tag @food_item.image_url, class: "food_image_bg" %>
      </p>
    </div>
    <div class="col-md-5">
      <div>
      <p>
        <strong>Price:</strong>
        <%= @food_item.price %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @food_item.description %>
      </p>
      <div>
        <strong>Number of View:</strong>
        <%= @food_item.view_count %>
      </div>
      </div>
    </div>

  </div>
</div>